//OVERWRITES
:host {
    margin: 0 20px;
    overflow: auto;

}
.card {
    width: 20rem;
    margin: 20px auto;
    overflow: auto
}

.image-card {
    max-width: 400px;
}

.image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}